.footer{
    width: 100%;
    padding: 6rem 0;
    background-color: rgba(19,19,19,0.8);
    color: white;
}
.footer-container{
    max-width: 1140px;
    margin: auto;
   
}

.location{
    display: flex;
    margin-bottom:0.8rem ;

}
.location p{
    line-height: 30px;
}
.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}
h4{
    font-size: 1.2rem

}
p{
    font-size: 1.2rem;
}
/* .card svg {
    height: 10vw;
  } */
  
  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 20vh;
    width: 80%;
  }
  
  .card::before, .card::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  
  .card::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: 	rgb(56, 56, 56);
  }
  
  .card::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: 	rgb(35, 35, 35)
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card:hover #span{
    opacity: 0;
    z-index: -3;
  }
  .card:hover #hover{
    opacity: 0;
    z-index: -3;
  }
  .card #hover{
    position: absolute;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    width: 99%;
    height: 98%;
    font-size: 1.4rem;
    opacity: 0.5;
    transition: opacity 0.25s;
    z-index: 2;
  }
  .card:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  
  .card:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  
  .card #span{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  
  .card .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
  }
  
  .card .social-link svg {
    text-shadow: 1px 1px rgba(73, 73, 73, 0.7);
    transform: scale(1);
  }
  
  .card .social-link:hover {
    background-color: rgb(56, 56, 56);;
    animation: bounce_613 0.4s linear;
  }
  .card .social-link:active{
    transform: scale(1.2);
    background-color: black;
  }
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
@media  screen and (max-width:740px)  
{

}