.more-btn{
    width: 100%;
display: flex;
justify-content: center;
}


.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding-bottom: 3rem;

}
.project-card{
    background: #1a1919;
    padding: 1.2rem 1rem;
    border-radius: 15px;
    height: 100%;
}
.project-title{
    padding: 1rem 0;
}
.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}
.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.pro-btns .btn{
    padding: 0.5rem 1rem;
}
.project-card img{
    width: 100%;
    border-radius: 10px;
}
.project-card {
    border-radius: 20px;
    transition: all .3s;
   }
   
   .project-container {
    transition:  .2s;
   }


   
   .project-card:hover {
    box-shadow: 0px 0px 10px 1px rgba(205, 205, 204, 0.582);
    transform: scale(0.98);
    border-radius: 20px;
   }
   .project-card:active{
    background-color: 	hsl(0, 2%, 20%);
    box-shadow: 0px 0px 10px 1px rgb(72, 72, 72);
    transition: 0s;
   }
   @media screen and (max-width:840px){
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: repeat(2,1fr);
    }
   } 
@media screen and (max-width:640px) {
    .project-container{
        max-width:70%;
        margin:auto;
        grid-template-columns: 1fr;
    }
}
